$font-Mulish: 'Mulish', sans-serif;
$font-Rubik: 'Rubik', sans-serif;

$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;

$whiteColor: #ffffff;
$blackColor: #222222;
$linkColor: #1A1B31;
$backgroundColorGray: #F1F2F6;
$backgroundColorBlue: #474AEE;

* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
html, body {
  font-size: 8px;
  font-family: $font-Mulish;
  color: $blackColor;
}
.container {
  max-width: 1064px;
  padding: 0 16px;
  margin: 0 auto;
}
.hideBlock {
  display: none;
}
.flexBox {
  display: flex;
}
.header--title {
  font-weight: $fontMedium;
  font-size: 6.75rem;
  line-height: 60px;
  text-align: center;
  color: $whiteColor;
  font-family: $font-Mulish;
}
.header--subtitle {
  font-weight: $fontBold;
  font-size: 4.5rem;
  line-height: 48px;
  text-align: center;
  color: $blackColor;
  font-family: $font-Mulish;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $linkColor;
  object-fit: contain;
  background: #F2D852;
  border-radius: 8px;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 2.25rem;
  font-weight: $fontBold;
  letter-spacing: 0.3px;
  font-style: normal;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #c9aa09;
    transition: 0.5s all ease;
  }
  span {
    position: relative;
    z-index: 9;
  }
  &:hover:after {
    width: 100%;
  }
}
.main {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("../img/background__main.jpg") no-repeat;
  background-size: cover;
  .main__box {
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .header--title {
    letter-spacing: 1.65px;
    margin-top: 120px;
  }
  .main__subtitle {
    line-height: 32px;
    color: $whiteColor;
    text-align: center;
    font-weight: $fontRegular;
    font-size: 3.25rem;
    max-width: 502px;
    margin-top: 8px;
  }
  .main__button {
    margin-top: 32px;
  }
}
.factoid {
  background: $backgroundColorGray;
  padding: 64px 0 32px;
  .factoid__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .factoid__cards__card{
      width: 240px;
      margin-bottom: 32px;
      .factoid__cards__card__header {
        font-family: $font-Rubik;
        line-height: 40px;
        font-weight: $fontBlack;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 8px;
        span {
          font-size: 3rem;
        }
      }
      .factoid__cards__card__text {
        line-height: 20px;
        font-size: 2rem;
        text-align: center;
        font-weight: $fontRegular;
      }
    }
  }
}
.who {
  background: $backgroundColorGray;
  padding-bottom: 32px;
  .who__cards {
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 680px;
    width: 100%;
    margin: 48px auto 0;
    .who__cards__card {
      max-width: 328px;
      width: 100%;
      background: $whiteColor;
      filter: drop-shadow(0px 2px 8px rgba(8, 9, 18, 0.1));
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: 32px;
      .who__cards__card__top {
        img {
          width: 100%;
        }
      }
      .who__cards__card__content {
        padding: 16px;
        .who__cards__card__content__title {
          font-family: $font-Rubik;
          font-weight: $fontBold;
          font-size: 2.5rem;
          margin-bottom: 8px;
          line-height: 24px;
        }
        .who__cards__card__content__text {
          line-height: 20px;
          font-size: 2rem;
        }
      }
    }
  }
}
.work {
  background: $backgroundColorGray;
  padding-bottom: 64px;
  .work__box {
    max-width: 502px;
    margin: 48px auto 0;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      left: 15px;
      top: 24px;
      height: calc(100% - 51px);
      width: 4px;
      display: block;
      background: $backgroundColorBlue;
    }
    .work__list {
      .work__list__item {
        align-items: center;
        position: relative;
        line-height: 24px;
        font-size: 2.25rem;
        margin-bottom: 24px;
        &:before {
          position: relative;
          content: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.21 15.54L0 9.33L2.83 6.5L6.21 9.89L16.09 0L18.92 2.83L6.21 15.54Z' fill='white'/%3E%3C/svg%3E");
          min-width: 32px;
          min-height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $backgroundColorBlue;
          box-sizing: border-box;
          padding-top: 4px;
          padding-left: 2px;
          z-index: 9;
          margin-right: 16px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .work__button {
    margin-top: 48px;
    flex-direction: column;
    align-items: center;
  }
}
.delivery {
  background: $backgroundColorGray;
  padding-bottom: 34px;
  .delivery__services {
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
    .delivery__services__service {
      width: 152px;
      margin-bottom: 30px;
    }
  }
}
.reviews {
  .flex--halfwidth {
    flex: 0 0 50%
  }
  .reviews__card {
    .reviews__card__photo {
      max-height: 520px;
      width: 100%;
      overflow: hidden;
    }
    .reviews__card__content {
      padding: 32px 16px 16px;
      background: $backgroundColorBlue;
      .reviews__card__content__title {
        font-family: $font-Rubik;
        font-weight: $fontBold;
        font-size: 2.5rem;
        line-height: 24px;
        color: $whiteColor;
      }
      .reviews__card__content__text {
        margin-top: 48px;
        max-width: 504px;
        p {
          line-height: 24px;
          font-size: 2.25rem;
          margin-bottom: 26px;
          color: $whiteColor;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.about {
  background: $backgroundColorGray;
  padding: 64px 0;
  .about__box {
    margin-top: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    .about__box__text {
      max-width: 504px;
      .about__box__text--info {
        font-size: 2rem;
        line-height: 20px;
        margin-bottom: 24px;
      }
      .about__box__text--address {
        font-size: 1.75rem;
        line-height: 16px;
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .about__box__picture {
      .about__wrapper--image {
        margin-top: 72px;
        margin-left: -60px;
      }
      .about__wrapper--zIndex {
        position: relative;
        z-index: 9;
      }
    }
  }
  .about__button {
    align-items: center;
    margin-top: 48px;
    justify-content: center;
  }
}
.quest {
  padding: 64px 0;
  background: $backgroundColorGray;
  .quest__box {
    margin: 24px auto 0;
    justify-content: center;
    max-width: 504px;
    .quest__list {
      width: 100%;
      .quest__list__item {
        border-bottom: 1px solid #e9edea;
        .quest__question {
          font-family: $font-Rubik;
          font-weight: $fontBold;
          line-height: 20px;
          font-size: 2rem;
          align-items: center;
          text-decoration: none;
          color: $blackColor;
          padding: 16px 8px;
          span {
            position: relative;
            min-width: 24px;
            min-height: 24px;
            border-radius: 50%;
            background: #818AAD;
            margin-right: 8px;
            &:after,
            &:before {
              display: block;
              background: $whiteColor;
              position: absolute;
              content: '';
              width: 14px;
              height: 2px;
              border-radius: 16px;
            }
            &:before {
              left: 5px;
              top: 11px;
            }
            &:after {
              top: 11px;
              left: 5px;
              transform: rotate(90deg);
              transition: 0.2s ease-in all;
            }
          }
          &.-show {
            span {
              &:after {
                transform: skew(0);
              }
            }
          }
          &.-show + p {
            transition: max-height 1s;
            max-height: 1000px;
          }
        }
        p {
          max-height: 0;
          transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
          overflow: hidden;
          .quest__answer {
            display: block;
            line-height: 20px;
            font-size: 2rem;
            padding: 8px;
          }
        }
      }
    }
  }
}
.footer {
  padding: 24px;
  background: $backgroundColorBlue;
  p {
    text-align: right;
    color: $whiteColor;
    font-family: $font-Rubik;
    font-weight: $fontBold;
    font-size: 2.5rem;
    line-height: 24px;
  }
}
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 720px){

}

@media screen and (max-width: 540px){

}